body {
  font-family: Verdana;
}

.container {
  display: flex;
  margin: 0.5em;
}

#result {
  margin: 0;
}

#container-form {
  display: flex;
  flex-direction: column;
}

#my-form {
  display: flex;
}

input {
  width: 300px;
  padding: 1em;
  margin-right: 2em;
}

button {
  height: 40px;
  width: 50px;
  margin-right: 1em;
}

#result li {
  margin-bottom: 1em;
}
